<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OAPEN MEMO 404</title>
</head>

<body>

	<main layout:fragment="content" class="oapen-main">
	
		<section class="section">
	
		   	<div class="container">
		   	
				<div class="content oapen-primary">

					<h1>404</h1>
					<h2>The requested resource can not be found</h2>
				
				</div>
				
			</div>
			
		</section>
		
	</main>				

</body>
</html>