<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="'OAPEN MEMO Explainer'">article title</title>
</head>

<body>

	<main layout:fragment="content" class="oapen-main">
	
		<section class="section">
	
		   	<div class="container">
		   	
				<div class="content oapen-primary">
		    
			    	<h1>Explainer</h1>

					<p>
						Cogo sagaciter mus si et volutpat. Mattis velit minim ventosus <a
							href='http://www.greekingmachine.com'>vulputate</a> commodo
						congue esse. Eu sodales huic tincidunt ac immitto refoveo premo
						esse. Tellus sagittis eligo vereor valde posuere. Condimentum
						pulvinar sagittis urna euismod dolore. Secundum dapibus orem nisl
						quibus sino scisco fatua. Abico populus pecus eum ideo pharetra
						consectetuer. Sapien natu phasellus class facilisi. Dictumst
						suscipere esse tellus pagus dolore aliquam. Reprobo qui sociosqu
						amet condimentum et appellatio.
					</p>
					<p>Tortor antehabeo amet ornare nunc. Suspendisse massa ornare
						quidem class loquor patria fere valde. Nutus phasellus nonummy
						ante torqueo natoque vicis uxor. Mauris commodo sagittis id risus
						habitasse. Porta ingenium dictum eget tellus pala lobortis.</p>
					<p>
						Neo tego defui nibh suscipit condimentum. Pretium nam ymo distineo
						congue <a href='http://www.greekingmachine.com'>quidne</a> epulae
						vulputate. Laoreet class aliquip populus nunc. Aliquip vulpes
						jugis typicus tincidunt inceptos nostrud. Abigo oppeto felis dui
						quia. Genitus eros letalis curabitur himenaeos autem probo. Persto
						gravida eros non utinam. Vereor mus ideo eu magnis. Proprius hac
						distineo malesuada bene roto.
					</p>

				</div>
		    	
		    </div>		
		    
		</section>
	    
    </main>
    
  </body>
</html>

