<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="'OAPEN MEMO ' + ${user?.name}">article title</title>
</head>

<body>

	<main layout:fragment="content" class="oapen-main">
	
		<section class="section">
	
		   	<div class="container">
		   	
		    	<table class="wrapper">
		    		<tr>
		    			<td>
					        <form name="f" th:action="@{/login}" method="post">            
					        	<img class="logo" src="https://oapen.org/static-assets/images/layout/oapenlogo_01_colour.jpg"/>  
					        	<h2>OAPEN MEMO Client Web</h2>
					        	<h3>for selected partners</h3>
					        	<div> 
					                <table>
					                	<tr th:if="${param.error}">
					                		<td colspan="2" class="alert">
					                			Invalid login credentials.<br/>
					                			Please correct, or contact the application manager at Oapen.
					                		</td>
					                	</tr>
					                	<tr th:if="${param.msglogout}">
					                		<td colspan="2" class="success">
					                			You have been logged out.
					                		</td>
					                	</tr>
					                	<tr>
					                		<th>
					                			<label for="username">Username</label>
					                		</th>
					                		<td>
					                			<input type="text" id="username" name="username"/>
					                		</td>
					                	</tr>
					                	<tr>
					                		<th>
					                			<label for="password">Password</label>
					                		</th>
					                		<td>
					                			<input type="password" id="password" name="password"/>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td colspan="2">
					                			<button type="submit" class="btn">Log in</button>
					                		</td>
					                	</tr>
					                </table>
					             </div>   
					        </form>
		    			</td>
		    		</tr>
		    	</table>
    		</div>
    		
    	</section>
    	
	</main>	

</body>

</html>

